html, body {
	height: 100%;
	margin: 0;
}

.grid-container {
	width: 100%;
	height: 100%;
	display: grid;
	background: #1a1a1a;
	grid-template-columns: auto auto auto;
}

.grid-item {
	border-radius: 15px;
	position: relative;
	color: #ffffff;
}

.grid-item:hover {
	opacity: 1.0;
	background: #000000;
}

.headline {
	
	text-align: center;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	color: #333;
	opacity: 0.4;
	font: 700 40px 'Bitter';
}

.item-head {
	opacity: 0.6;
	padding: 5px;
	border-radius: 15px 15px 0px 0px;
}


.item-content{
	padding-left: 20px;
}

.item-footer {
	position: absolute;
	bottom: 2px;
	right: 7%;
}

.center_principle {
	text-align: center;
	padding-top: 40px;
}

a:link, a:visited {
	color: #D3D3D3;
}

a:hover {
	color: #FFFFFF;
	font-size: 17px;
}

.red {
	background-color: #dd0d0d;
}

.orange {
	background-color: #ffa41a;
}

.yellow {
	background-color: #ffe93a;
}

.green {
	background-color: #1fff1f;
}

.blue {
	background-color: #1b54ff;
}

.white {
	
	background-color: #f2f2f2;
}