html, body {
	height: 100%;
	margin: 0;
}

.grid-container {
	width: 100%;
	height: 100%;
	display: grid;
	background: #1a1a1a;
	grid-template-columns: auto auto auto;
}

.grid-item {
	border-radius: 15px;
	padding-color: black;
	padding: 20px;
	position: relative;
	color: #d2e0e0;
}

.headline {
	text-align: center;
}

.item-content{
	padding-left: 20px;
}

.center_principle {
	text-align: center;
	padding-top: 40px;
}

.sticky-bottom {
	position: absolute;
	bottom: 2px;
	right: 7%;
}

a:link, a:visited {
	color: #D3D3D3;
}

a:hover {
	font-weight: bold;
	color: #FFFFFF;
}

.red {
	border-bottom: 10px solid #b30000;
	border-image: linear-gradient(to left, #b30000 0%, #ff4d4d 100%);
	border-image-slice: 1;
}

.orange {
	border-bottom: 10px solid #cc7a00;
	border-image: linear-gradient(to left, #cc7a00 0%, #ffc266 100%);
	border-image-slice: 1;
}

.yellow {
	border-bottom: 10px solid #e6e600;
	border-image: linear-gradient(to left, #e6e600 0%, #ffff80 100%);
	border-image-slice: 1;
}

.green {
	border-bottom: 10px solid #00cc00;
	border-image: linear-gradient(to left, #00cc00 0%, #80ff80 100%);
	border-image-slice: 1;
}

.blue {
	border-bottom: 10px solid #002699;
	border-image: linear-gradient(to left, #002699 0%, #668cff 100%);
	border-image-slice: 1;
}

.white {
	
	border-bottom: 10px solid #a6a6a6;
	border-image: linear-gradient(to left, #a6a6a6 0%, #f2f2f2 100%);
	border-image-slice: 1;
}